streamlit==1.38.0
langchain==0.1.14
langchain-community==0.0.32
langchain-core==0.1.37
sentence-transformers==2.6.1
numpy==1.26.4
requests==2.32.3
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
spacy==3.7.4
tqdm==4.66.2
scikit-learn==1.4.2
PyPDF2==3.0.1
pillow==10.2.0
pytesseract
googletrans==4.0.0rc1
